.fullBackground{
    background-image: url(../../assets/img/mc-afe8242971e91c5b39caed2300eb69c5.png);
    background-size: 100% auto;
    background-position: 0px 40%;
    width: 100%;
    height: 100%;
}
.juego{
    width: 1250px;
    height: 720px;
    box-shadow: 0 5px 18px 2px rgba(0,0,0,.4);
    background-color: white;
    // background-color: rgb(92 92 92);
    border-radius: 5px;
    overflow: hidden;
}
.circulo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: gray;
    color: white;
    cursor: pointer;
}
.circulo nb-icon{
    width: 80px;
    transition: all .2s;
}
.circulo:hover nb-icon{
    width: 100px;
}
.grayBg{
    background-color: rgb(92 92 92);
}
span.count{
    font-size: 400px;
    color: white;
}
span.count.fontSi{
    transition: all .5s;
    font-size: 100px;
}
.topDiv{
    background-color: gray;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    color: #999;
    text-align: center;
}
.topDiv span{
    color: white;
    font-size: 18px;
}
.divCuadro{
    width: 200px;
    height: 180px;
    cursor: pointer;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 8px;
    margin: 10px;
    perspective: 1000px;
}
.flip{
}
.check{
    pointer-events: none;
    opacity: .5;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .divCuadro.flip .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  
  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
  }
  .finJuego{
    color: white;
    font-size: 29px;
  }
  .resumen{
    background-color: rgba(0,0,0,.4);
    border-radius: 50px;
  }
  .textoIn{
    color: #999;
  }
  .circulo2{
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50px;
    opacity: .5;

  }
  .circulo2 nb-icon{
    position: relative;
    top: -4px;
    width: 30px;
    margin: auto;
  }
  .score{
    color: rgba(0, 0, 0, 0.373) !important;
    background-color: white;
  }
  .score span{
    color: black 
  }
  .score .circulo2{
    background-color: rgba(0, 0, 0, 0.853);
  }
  .score2{
    position: relative;
    top: -30%;
  }
  .oculto{
    opacity: 0;

  }
  .mejor{
    font-size: 18px;
    color: #999;
  }
  .mejor span{
    color: white;
  }
  button{
    background-color: #000;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    position: relative;
    top: -50px;
    border: none;
  }
  .pextra{
    font-size: 20px;
  }
  .salir, .divTerminar{
    position: absolute;
    cursor: pointer;
    right: 20px;
  }
  .divTerminar{
    top: 80px;
  }
  @media only screen and (max-width: 991px) {
    .topDiv span{
      color: white;
      font-size: 12px;
  }
    .juego{
      scale: .99;
    }
    .divCuadro{
      width: 144px;
      height: 120px;
    }
    .finJuego{
      color: white;
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 768px) {
    .juego{
      width: 100%;
    }
    .w-75{
      width: 90% !important;
    }
    .juego{
      overflow: auto;
    }
    .pt-4{
      padding-top: 2px !important;
    }
    .divTerminar{
      top: 55px;
    }
    .col-1{
      width: 20%;
      padding: 2px;
    }
    .col-2.topDiv{
      width: 35%;
    }
    .col-4{
      width: 60%;
    }
    .col-6{
      width: 100%;
    }
    .col-8{
      width: 53%;
    }
    .divCuadro{
      margin: auto;
      margin-bottom: 5px !important;
    }
    .mejor{
      top: -17px;
      position: relative;
    }
    .pb-4{
      padding-bottom: 0px !important;
    }
    .col-3{
      width: 69%;
    }
    .p-5{
      padding: 1rem !important;
    }
    div.container.p-4.position-relative{
      padding-top: 43px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .fullBackground{
      background-image: url(../../assets/img/mc-afe8242971e91c5b39caed2300eb69c5.png);
      background-size: auto 100%;
  }
  }
  @media only screen and (max-width: 390px) {
    .w-75{
      width: 100% !important;
    }
  }